.container {
  display: grid;
  background-color: blue;
  max-height: 2200px;
  max-width: 1440px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.3fr 0.1fr 0.5fr 0.6fr;
  grid-template-areas:
    '. topBackground'
    'form topBackground'
    'form .'
    'form vase'
    'buttonBackground vase';
}

.form {
  grid-area: form;
  width: 755px;
  height: 1224px;
  background: grey;
}

.vase {
  grid-area: vase;
  justify-self: center;
  background-color: darkkhaki;
}

.topBackground {
  background-color: yellow;
  grid-area: topBackground;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 0.3fr 1fr;
}

.topBackground :nth-child(1) {
  background-color: blue;
  grid-column: 1/2;
  grid-row: 2;
}

.topBackground :nth-child(2) {
  background-color: blue;
  grid-column: 3/4;
  grid-row: 3/4;
  justify-self: center;
  align-self: start;
}

.topBackground :nth-child(3) {
  grid-area: lines;
  grid-column: 3/4;
  grid-row: 1/4;
}

.buttonBackground {
  background-color: aqua;
  grid-area: buttonBackground;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr;
}

.buttonBackground :nth-child(1) {
  background-color: blueviolet;
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: center;
}

.buttonBackground :nth-child(2) {
  background-color: chartreuse;
  grid-column: 3/4;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
}

.buttonBackground :nth-child(3) {
  background-color: chocolate;
  grid-column: 1/2;
  grid-row: 2/3;
}

.buttonBackground :nth-child(4) {
  background-color: red;
  grid-column: 2/4;
  grid-row: 2/3;
  justify-self: end;
  align-self: end;
}
